<!--<?xml version="1.0" encoding="UTF-8" ?>-->
<!--<!DOCTYPE configuration-->
<!--        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"-->
<!--        "http://mybatis.org/dtd/mybatis-3-config.dtd">-->
<!--<configuration>-->
<!--    <properties resource="/src/main/resources/application.properties"/>-->
<!--    <typeAliases>-->
<!--        <typeAlias alias="bill" type="com.andrei.bills.model.Bill" />-->
<!--    </typeAliases>-->
<!--    <environments default="development">-->
<!--        <environment id="development">-->
<!--            <transactionManager type="JDBC"/>-->
<!--&lt;!&ndash;            <dataSource type="POOLED">&ndash;&gt;-->
<!--&lt;!&ndash;                <property name="driver" value="${jdbc.driverClassName}"/>&ndash;&gt;-->
<!--&lt;!&ndash;                <property name="url" value="${jdbc.url}"/>&ndash;&gt;-->
<!--&lt;!&ndash;                <property name="username" value="${jdbc.username}"/>&ndash;&gt;-->
<!--&lt;!&ndash;                <property name="password" value="${jdbc.password}"/>&ndash;&gt;-->
<!--&lt;!&ndash;            </dataSource>&ndash;&gt;-->
<!--        <dataSource type="POOLED">-->
<!--                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>-->
<!--                <property name="url" value="jdbc:mysql://localhost:3306/test_database"/>-->
<!--&lt;!&ndash;                <property name="url" value="jdbc:mysql://looselabworknew.db.3766381.ddc.hostedresource.net:3306/looselabworknew"/>&ndash;&gt;-->
<!--                <property name="username" value="Andrei"/>-->
<!--                <property name="password" value=""/>-->
<!--            </dataSource>-->
<!--        </environment>-->
<!--    </environments>-->
<!--    <mappers>-->
<!--&lt;!&ndash;        Run on different system with different configuration &ndash;&gt;-->
<!--&lt;!&ndash;        <mapper resource="src/main/java/com/andrei/bills/dao/BillDao.xml"/>&ndash;&gt;-->
<!--&lt;!&ndash;        <mapper class="com.andrei.bills.dao.BillDao" />&ndash;&gt;-->
<!--&lt;!&ndash;        <package name="com.andrei.bills.dao" />&ndash;&gt;-->
<!--    </mappers>-->
<!--</configuration>-->